%header.header
  = render partial: "partial/header"


.mainbox
  .mainbox__margin
    = render partial: 'users/side-contents'
    .l-content
      %section.l-content__container
        %h2.l-content__container__head クレジットカード情報入力
        = form_with url: @creditcard, action: :pay, method: :post, class: 'l-single', id: 'charge-form' do |f|

          .l-single__content
            .form-group
              %label カード番号
              %span.form-group__require 必須
              = f.text_field :number, class: 'input-default', name: 'number',placeholder: "半角数字のみ", value: 4242424242424242
              / %input.input-default.number#payment_card_no{placeholder: "半角数字のみ", type: "text", value: "", name: 'number'}/
              %ul.has-error-text
              %ul.form-group__card-list
                %li
                  %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3897023084", width: "49"}/
                %li
                  %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3897023084", width: "34"}/
                %li
                  %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3897023084", width: "30"}/
                %li
                  %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3897023084", width: "32"}/
                %li
                  %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3897023084", width: "21"}/
                %li
                  %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3897023084", width: "32"}/
                %li
                  %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3897023084", width: "32"}/
            .expiration-date
              %label.expiration-date__name 有効期限
              %span.form-require 必須
              %br/
              .select-wrap
                = f.select :exp_month, options_for_select(01..12), name: 'exp_month'
                / %i.fas.fa-chevron-down
              %span 月
              %ul#expire-mm-error-wrapper.has-error-text
              .select-wrap
                = f.select :exp_year,options_for_select(2019..2029) , name: 'exp_year'
                / %i.fas.fa-chevron-down
              %span 年
              %ul#expire-yy-error-wrapper.has-error-text
            .form-group
              %label セキュリティコード
              %span.form-require 必須
              = f.number_field :cvc, name: 'cvc', minlenght: 3, maxlength: 4, placeholder: "カード背面4桁もしくは3桁の番号", class: 'input-default'
              / %input.cvc#payment_card_security_code.input-default{placeholder: "カード背面4桁もしくは3桁の番号", type: "number", value: "", name: 'cvc'}/
              %ul#security-code-error-wrapper.has-error-text
              .l-single__content__signup-seqcode
                .l-single__content__signup-seqcode__text
                  %span.form-question> ?
                  カード裏面の番号とは？
                .signup-seqcode-info
                  %br/
            = f.submit "追加する", class: 'l-single__content__btn-default', id: 'token-save'
            / %button.l-single__content__btn-default#card-save{type: "button"} 追加する
