.mainbox__main-contents__contents-tab
  .mainbox__main-contents__contents-tab__menu
    .mainbox__main-contents__contents-tab__menu__left お知らせ
    .mainbox__main-contents__contents-tab__menu__right やることリスト
  = render partial: 'users/tab-box'
  = render partial: 'users/tab-box'
  = render partial: 'users/tab-box'
  = render partial: 'users/tab-box'
  = render partial: 'users/tab-box'
  .mainbox__main-contents__list
    .mainbox__main-contents__list__list-space
    =link_to do
      .mainbox__main-contents__list__list-btn 一覧を見る
