-# ページタイトル
- content_for(:title) { 'マイページ メルカリ' }

/ ヘッダー
%header.header
  = render partial: "partial/header"
/ パンくずリスト

/ メインコンテンツ
%body
.mainbox
  / サイドバー
  .mainbox__side-box
    = render partial: "users/side-contents"

  .mainbox__logout-contents
    .mainbox__logout-contents__logout-box
      .mainbox__logout-contents__logout-box__space
      = link_to do
        .mainbox__logout-contents__logout-box__btn ログアウト


/ バナー
.banner
  = render partial: "partial/banner"

/フッター
%footer.footer
  = render partial: "partial/footer"
/ 出品ボタン
= render partial: "partial/sell-btn"
