-# ページタイトル
- content_for(:title) { 'マイページ メルカリ' }

/ ヘッダー
%header.header
  = render partial: "partial/header"
/ パンくずリスト

/ メインコンテンツ
%body
.mainbox

  .mainbox__margin
    / サイドバー
    .mainbox__side-box
      = render partial: "users/side-contents"

    .mainbox__prof-contents
      .mainbox__prof-contents__prof-box
        .mainbox__prof-contents__prof-box__titlebox プロフィール
        .mainbox__prof-contents__prof-box__iconbox
          .mainbox__prof-contents__prof-box__iconbox__space
          .mainbox__prof-contents__prof-box__iconbox__icon
          %input.mainbox__prof-contents__prof-box__iconbox__name{:name => '', :placeholder => '', :type => 'text', :value => current_user.nickname}
        %textarea.mainbox__prof-contents__prof-box__commentbox{:name => ' ', :placeholder => '例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪'}
        %button.mainbox__prof-contents__prof-box__button{:type => 'submit'} 変更する

/ バナー
.banner
  = render partial: "partial/banner"

/フッター
%footer.footer
  = render partial: "partial/footer"
/ 出品ボタン
= render partial: "partial/sell-btn"
