-# ページタイトル
- content_for(:title) { 'マイページ メルカリ' }

/ ヘッダー
%header.header
  = render partial: "partial/header"
/ パンくずリスト
%nav.bread-container
  - breadcrumb :mypage
  = breadcrumbs separator: "#{content_tag(:i, '', class: 'fas fa-chevron-right')}"
/ メインコンテンツ
%body
.mainbox
  .mainbox__margin
    / サイドバー
    .mainbox__side-box
      = render partial: "users/side-contents"
    / メインコンテンツ
    .mainbox__main-contents
      = render partial: "users/main-contents"


/ バナー
.banner
  = render partial: "partial/banner"

/フッター
%footer.footer
  = render partial: "partial/footer"
/ 出品ボタン
= render partial: "partial/sell-btn"
