- content_for(:title) { 'パスワード - メルカリ サンプル' }
.devise-header
  = render partial: 'partial/devise-header'

.devise-main
  .devise-main__password
    %h2.devise-main__password__head パスワードをお忘れの方
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :メールアドレス
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .actions
        = f.submit "送信する"

.devise-footer
  = render partial: 'partial/devise-footer'