%li.level-1__list
  = link_to 'レディース', class: 'level-1__list__item'
%li.level-1__list
  = link_to 'メンズ', class: 'level-1__list__item'
  %ul.level-2
    %li.level-2__list
      = link_to 'トップス', class: 'level-2__list__item'
    %li.level-2__list
      = link_to 'パンツ', class: 'level-2__list__item'
      %ul.level-3
        %li.level-3__list
          = link_to 'ショートパンツ', class: 'level-3__list__item'
        %li.level-3__list
          = link_to 'ジーンズ', class: 'level-3__list__item'
