-# ページタイトル
- content_for(:title) { 'メルカリ サンプル' }

/ ヘッダー
%header.header
  = render partial: "partial/header"
/ パンくずリスト
/ バナースライド
.swiper
  .swiper-container
    .swiper-wrapper
      .swiper-slide.slide
        .slide__main
          .slide__main--left
            %h2 スマホでかんたんフリマアプリ
            %p メルカリはスマホカメラからすぐに出品できる
            %p 購入時も安心な独自システムのアプリです
            .slide__main--left__icon
              = link_to '#' do
                = image_tag 'common/app-store.svg', alt: 'app-store-logo', class: 'banner__container--left__icon__app-store', height: '50', width: '170'
              = link_to '#' do
                = image_tag 'common/google-play.svg', alt: 'google-play-logo', class: 'banner__container--left__icon__google-play', height: '50', width: '170'
          = image_tag 'common/content_pc.png', alt: 'logo', class: 'slide__main--right', height: '390', width: '440'
      .swiper-slide.slide
        = link_to '', '#', class: 'slide__newlife'
      .swiper-slide.slide
        = link_to '', '#', class: 'slide__heisei'
      .swiper-slide.slide
        = link_to '', '#', class: 'slide__ninety'
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next
/ メインコンテンツ
%main.main
.pickup
  %h2.pickup-top ピックアップカテゴリー
  = render partial: 'partial/item-top'
  = render partial: 'partial/item-top'
  = render partial: 'partial/item-top'
  = render partial: 'partial/item-top'
.pickup
  %h2.pickup-top ピックアップブランド
  = render partial: 'partial/item-top'
  = render partial: 'partial/item-top'
  = render partial: 'partial/item-top'
  = render partial: 'partial/item-top'
/ バナー
.banner
  = render partial: "partial/banner"
/ フッター
%footer.footer
  = render partial: "partial/footer"
/ 出品ボタン
= render partial: "partial/sell-btn"