/ ヘッダー
%header.header
  = render partial: "partial/header"
/ パンくずリスト

/ メインコンテンツ
%body
.mainbox
  .mainbox__margin
    / サイドバー
    .mainbox__side-box
      = render partial: "users/side-contents"
    / メインコンテンツ
    .mainbox__listing-box
      出品した商品
      .mainbox__listing-box__menu
        = link_to listings_path do
          .mainbox__listing-box__menu__side 出品中
        = link_to progressions_path do
          .mainbox__listing-box__menu__side 取引中
        = link_to completions_path do
          .mainbox__listing-box__menu__now 売却済み
      .mainbox__listing-box__item-tab
        .mainbox__listing-box__item-tab__image-box
        .mainbox__listing-box__item-tab__image
        .mainbox__listing-box__item-tab__text 売却済みの商品がありません
      .mainbox__listing-box__pager-box
        = render partial: 'listings/listings-pager'

/ バナー
.banner
  = render partial: "partial/banner"

/フッター
%footer.footer
  = render partial: "partial/footer"
/ 出品ボタン
= render partial: "partial/sell-btn"
