-# ページタイトル
- content_for(:title) { 'マイページ メルカリ' }

/ ヘッダー
%header.header
  = render partial: "partial/header"

%link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.8.1/css/all.css", :integrity => "sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", :rel => "stylesheet"}/
/ パンくずリスト

/ メインコンテンツ
%body
.mainbox
  / サイドバー
  .mainbox__side-box
    = render partial: "users/side-contents"

  .mainbox__identify-contents
    .mainbox__identify-contents__box
      .mainbox__identify-contents__box__title 本人情報の登録
      .mainbox__identify-contents__box__identification
      .mainbox__identify-contents__box__text1 お客さまの本人情報をご登録ください。
      .mainbox__identify-contents__box__text2 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
      = link_to do
        .mainbox__identify-contents__box__link1 本人確認書類のアップロードについて
        %i.fa.fa-chevron-right.arrow1
      .mainbox__identify-contents__box__formbox
        = render partial: "identifications/name"
        = render partial: "identifications/birth"
        = render partial: "identifications/postal"
        = render partial: "identifications/pref"
        = render partial: "identifications/otherinfo"
      %button.mainbox__identify-contents__box__btn{:type => 'submit'} 登録する
      .mainbox__identify-contents__box__link2 本人情報の登録について
      %i.fa.fa-chevron-right.arrow2








/ バナー
.banner
  = render partial: "partial/banner"

/フッター
%footer.footer
  = render partial: "partial/footer"
/ 出品ボタン
= render partial: "partial/sell-btn"
